*, body {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#carregando{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: #2471A3;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 5em;
    opacity: 0.6;
}

#container{
    width: 80vw;
    margin: 0 auto;
    margin-top: 10px;
}

#resultado{
    margin-top: 20px; 
    width: 100%;   
}

#cotacoes{
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.secoes{
    width: 100%;
    margin-bottom: 20px;
}

.moedas{
    width: auto;
    flex-grow: 1;
    padding: 3px;
}

.cotacao-moeda{
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background-color: #D4E6F1;
    justify-content: space-around;
}
.cotacao-moeda > div{
    text-align: center;
}

.nome-moeda{
    font-weight: bold;
    color: #1A5276;
    font-size: 1.2em;
    text-align: center;
}

.maior{
    font-weight: bold;
    color: #21618C;
}

.menor{
    color: #BA4A00;
}

#resultado{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#valorResultado{
    width: 100%;
    min-height: 100px;
    background-color: #EBF5FB;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#valorResultado div{
    width: 100%;
    text-align: center;
    margin: 2px;
    font-weight: 3em;
    padding: 20px;
    background: #FFF;
    font-weight: bold;
}

#form{
    width: 100%;
}

#conteudoForm{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#campoValor{
    flex-grow: 1;
    margin-right: 5px;
    display: flex;      
    align-items: stretch;
}

#valor{
    width: 100%;
    padding: 3px;
    font-size: 1.2em;
    border: 1px solid #566573;
    border-radius: 5px;  
}

#botaoSolicitar{
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #1C2833;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}